{% extends 'layouts/admin/base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block extra-css %}
    <link rel="stylesheet" href="{% static 'css/datetimepicker.min.css' %}">
{% endblock %}

{% block extra-js %}
    <script src="{% static 'js/filestyle.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/datetimepicker.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD'
            });
        });
    </script>
{% endblock %}

{% block content %}
<h3>New User
    <small></small>
</h3>
<div class="row">
        <!-- START panel-->
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-lg-6">
                    <div class="form-group">
                        {{ form.errors }}
                        <label>{{ form.name.label }}</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group mb">
                        {% if form %}
                            {{ form.foundation.errors }}
                        {% endif %}
                        <label>{{ form.foundation.label }}</label>
                        <div id="datetimepicker1" class="input-group date">
                            {{ form.foundation }}
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-6">
                    {{  form_stadium.errors}}
                    <div class="form-group">
                        <label>{{ form_stadium.name.label }}</label>
                        {{ form_stadium.name }}
                    </div>
                    <div class="form-group">
                        <label>{{ form_stadium.capacity.label }}</label>
                        {{ form_stadium.capacity }}
                    </div>
                    <div class="form-group">
                        <label>{{ form_stadium.image.label }}</label>
                        {{ form_stadium.image }}
                    </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Save</button>
                </form>
            </div>
        </div>
        <!-- END panel-->
    </div>
</div>
{% endblock %}