{% extends 'layouts/admin/base.html' %}

{% load staticfiles %}

{% block extra-js %}
     <script src="{% static 'js/backend/teams/players.js' %}"></script>
    <!-- <script src="{% static 'js/Chart.js' %}"></script> -->
{% endblock %}

{% block content %}
<div class="content-heading">
    <!-- START Language list-->
    <div class="pull-right">
        <a type="button" href="{% url 'teams:list' %}" class="mb-sm btn btn-success btn-outline btn-square">Back</a>
    </div>
    <!-- END Language list    -->
    {{ team.name }}
    <input type="hidden" id="team_id" value="{{ team.id }}">
    <div class="form-group">
        <select class="form-control m-b" name="country" id="country">
            <option value="">------------</option>
            {% for player in players %}
            <option value="{{ player.country }}">{{ player.country.name }}</option>
            {% endfor %}
        </select>
    </div>
    <small data-localize="dashboard.WELCOME"></small>
</div>
<div class="row" id="row">
    {% for player in players %}
    <div class="col-md-4">
        <div class="panel widget">
            <div class="row row-table row-flush">
                <div class="col-xs-5">
                    <picture class="lateral-picture">
                        {% if player.image %}
                        <img src="{{ player.image.url }}" alt="">
                        {% endif %}
                    </picture>
                </div>
                <div class="col-xs-7 align-middle p-lg">
                    <div class="pull-right">
                        <a href="#" ><span class="label label-primary pull-right"><h4>{{ player.number }}</h4></span></a>
                    </div>
                    <p>
                        <h3>{{ player.name }} {{ player.lastname }}</h3>
                        <strong>{{ player.position }}</strong>
                        <p>{{ player.country.name }}</p>
                    </p>
                    <div class="pull-right">
                        <a type="button" id="{{ player.id }}" class="mb-sm btn btn-info btn-outline btn-square detail"> Detail</a>
                        <a type="button" href="{% url 'players:report_player' player.id %}" class="mb-sm dropdown-toggle btn btn-warning btn-outline btn-square detail">
                            <em class="fa fa-download"></em> Report
                        </a>
                        <a type="button" href="{% url 'players:report_player' player.id %}" class="mb-sm dropdown-toggle btn btn-success btn-outline btn-square detail">
                            <em class="fa fa-send-o"></em> Report
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block modal %}
<!-- Modal-->
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <!-- START panel-->
        <div id="panelDemo7" class="panel panel-default">
            <div class="panel-heading">Detail</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-heading">Default</div>
                            <div class="panel-body text-center">
                                <div id="easypie1" data-percent="85" class="easypie-chart">
                                <span>85</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row_statistic">
                    <!-- Pace -->
                    <div class="panel-heading">Pace
                        <div class="btn-group pull-right"></div>
                    </div>
                    <div class="panel-body" id="pace"></div>
                    <!-- Shooting -->
                    <div class="panel-heading">Shooting
                        <div class="btn-group pull-right"></div>
                    </div>
                    <div class="panel-body" id="shooting"></div>
                    <!-- Passing -->
                    <div class="panel-heading">Passing
                        <div class="btn-group pull-right"></div>
                    </div>
                    <div class="panel-body" id="passing"></div>
                    <!-- Dribbling -->
                    <div class="panel-heading">Dribbling
                        <div class="btn-group pull-right"></div>
                    </div>
                    <div class="panel-body" id="dribbling"></div>
                    <!-- Defending -->
                    <div class="panel-heading">Defending
                        <div class="btn-group pull-right"></div>
                    </div>
                    <div class="panel-body" id="defending"></div>
                    <!-- Physical -->
                    <div class="panel-heading">Physical
                        <div class="btn-group pull-right"></div>
                    </div>
                    <div class="panel-body" id="physical"></div>
                </div>
                <div class="row"></div>
            </div>
        </div>
        <!-- END panel-->
    </div>
</div>`
{% endblock %}