{% extends 'layouts/admin/base.html' %}

{% block content %}
<div class="content-heading">
    <!-- START Language list-->
    <div class="pull-right">
        <a type="button" href="{% url 'teams:list' %}" class="mb-sm btn btn-success btn-outline btn-square">Back</a>
    </div>
    <!-- END Language list    -->
    Stadium
</div>
<div class="row">
    <div class="col-md-8">
        {% if stadium.image %}
            <img src="{{ stadium.image.url }}" class="img-responsive" style="height: 600px; width: 100%">
        {% endif %}
    </div>
    <div class="col-lg-4">
        <!-- START widget-->
        <div class="panel widget">
            <div class="row row-table row-flush">
                <div class="col-xs-6 bb br">
                    <div class="row row-table row-flush">
                        <div class="col-xs-8">
                            <div class="panel-body text-center">
                            <h4 class="mt0">{{ stadium.name }}</h4>
                            <p class="mb0 text-muted">STADIUM</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 bb">
                    <div class="row row-table row-flush">
                        <div class="col-xs-8">
                            <div class="panel-body text-center">
                            <h4 class="mt0">{{ stadium.team.name }}</h4>
                            <p class="mb0 text-muted">TEAM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-table row-flush">
                <div class="col-xs-12 br">
                    <div class="row row-table row-flush">
                        <div class="col-xs-8">
                            <div class="panel-body text-center">
                            <h4 class="mt0">{{ stadium.capacity }}</h4>
                            <p class="mb0 text-muted">CAPACITY</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END widget-->
    </div>
</div>
{% endblock %}